remoteWrite: {{ victoriametrics_vmagent_remote_write }}

config:
  global:
    scrape_interval: "{{ victoriametrics_vmagent_config_scrape_interval }}"

{% if victoriametrics_vmagent_config_scrap_configs is defined %}
  scrape_configs: {{ victoriametrics_vmagent_config_scrap_configs }}
{% endif %}
