---
- name: "Create OpenTelemetry namespace"
  kubernetes.core.k8s:
    name: "{{ opentelemetry_namespace }}"
    api_version: v1
    kind: Namespace
    state: present

- name: Add OpenTelemetry helm repo
  kubernetes.core.helm_repository:
    name: "{{ opentelemetry_helm_repo_name }}"
    repo_url: "{{ opentelemetry_helm_repo_url }}"

- name: Gather information about test-chart with pending state
  kubernetes.core.helm_info:
    name: "{{ opentelemetry_release_name }}"
    release_namespace: "{{ opentelemetry_namespace }}"
    release_state:
      - "deployed"
  register: "opentelemetry_current_release"

- name: Upgrade CRDs with content from github
  ansible.builtin.include_tasks: "upgrade_crd.yml"
  loop: "{{ opentelemetry_crds_to_upgrade }}"
  loop_control:
    loop_var: "opentelemetry_current_crd"
  when: opentelemetry_upgrade_crd and (opentelemetry_current_release.status.status is defined or opentelemetry_crd_force_upgrade)

- name: Deploy OpenTelemetry Kube stack
  kubernetes.core.helm:
    name: "{{ opentelemetry_release_name }}"
    chart_ref: "{{ opentelemetry_kube_stack_chart_ref }}"
    namespace: "{{ opentelemetry_namespace }}"
    chart_version: "{{ opentelemetry_chart_version }}"
    update_repo_cache: true
    state: "present"
    values: "{{ lookup('ansible.builtin.template', 'opentelemetry_collector_helm_values.yml.j2') | from_yaml }}"
    wait: true

- name: Deploy OpenTelemetry Instrumentation Resources
  kubernetes.core.k8s:
    state: "{{ instrumentation.state | default('present') }}"
    template: "opentelemetry_instrumentation.yml.j2"
    namespace: "{{ opentelemetry_namespace }}"
  loop:
    "{{ opentelemetry_instrumentations }}"
  loop_control:
    loop_var: instrumentation
