---
- name: Create
  hosts: localhost
  connection: local
  gather_facts: false
  vars:
    grafana_admin_password: "admin"
  tasks:
    - name: Build a kind cluster (wait for control plane).
      ansible.builtin.command: >-
        kind create cluster
        --wait 300s
        --name molecule-test
        --kubeconfig {{ kubeconfig }}
      changed_when: true
    - name: "Call grafana role"
      ansible.builtin.import_role:
        name: "grafana"
