jaeger:
  enabled: true
  replicas: {{ jaeger_replicas }}
{% if jaeger_image_tag | length > 0 %}
  image:
    tag: "{{ jaeger_image_tag }}"
{% endif %}
{% if jaeger_extra_env | length > 0 %}
  extraEnv: {{ jaeger_extra_env | ansible.builtin.to_json }}
{% endif %}

  resources: {{ jaeger_resources | ansible.builtin.to_json }}

{% set _jaeger_volumes = jaeger_extra_volumes | default([], true) %}
{% set _jaeger_mounts = jaeger_extra_volume_mounts | default([], true) %}
{% if jaeger_persistence_enabled %}
{%   set _jaeger_volumes = _jaeger_volumes + [{'name': jaeger_persistence_volume_name, 'persistentVolumeClaim': {'claimName': jaeger_persistence_name}}] %}
{%   set _jaeger_mounts = _jaeger_mounts + [{'name': jaeger_persistence_volume_name, 'mountPath': jaeger_persistence_mount_path}] %}
{% endif %}
{% if _jaeger_volumes | length > 0 %}
  extraVolumes: {{ _jaeger_volumes | ansible.builtin.to_json }}
{% endif %}
{% if _jaeger_mounts | length > 0 %}
  extraVolumeMounts: {{ _jaeger_mounts | ansible.builtin.to_json }}
{% endif %}

  ingress:
    enabled: {{ jaeger_ingress_enabled | ansible.builtin.to_json }}
{% if jaeger_ingress_enabled %}
    ingressClassName: "{{ jaeger_ingress_class_name }}"
    annotations: {{ jaeger_ingress_annotations | ansible.builtin.to_json }}
    labels: {{ jaeger_ingress_labels | ansible.builtin.to_json }}
    pathType: "Prefix"
    hosts:
      - "{{ jaeger_ingress_hostname }}"
{% if jaeger_ingress_tls_enabled %}
    tls:
      - secretName: "{{ jaeger_ingress_tls_secret_name }}"
        hosts:
          - "{{ jaeger_ingress_hostname }}"
{% endif %}
{% endif %}

uiconfig: {{ jaeger_uiconfig | ansible.builtin.to_json }}

userconfig: {{ jaeger_userconfig | ansible.builtin.to_json }}
