---
name: Test roles

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - 'roles/**'
      - '.github/**'
      - devbox.json
      - devbox.lock
      - flake.nix
      - flake.lock
  pull_request:
    branches: [main]
    paths:
      - 'roles/**'
      - '.github/**'
      - devbox.json
      - devbox.lock
      - flake.nix
      - flake.lock

jobs:
  grafana:
    uses: ./.github/workflows/test-role.yaml
    with:
      role_name: "grafana"

  opentelemetry:
    uses: ./.github/workflows/test-role.yaml
    with:
      role_name: "opentelemetry"

  loki:
    uses: ./.github/workflows/test-role.yaml
    with:
      role_name: "loki"

  victoriametrics:
    uses: ./.github/workflows/test-role.yaml
    with:
      role_name: "victoriametrics"
